[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
fastapi = "*"
netdev = "*"
ntc_templates = "*"
uvicorn = "*"

[pipenv]
allow_prereleases = true

[dev-packages]
pylint = "*"
black = "*"
